<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Book Store Made JUST FOR FUN">
    <link rel="icon" type="image/svg+xml" href="../../public/assets/book.svg">
    <link rel="stylesheet" href="shop.css" />
    <link rel="stylesheet" href="../books/books.css" />
    <link rel="stylesheet" href="../../style/global.css" />
    <link rel="stylesheet" href="../../style/media-query.css" />
    <title>Versez - Shop</title>
</head>
<body>
    






    <div class="header-main">

      <!-- <header class="header-container">
        <a class="logo-link" href="../home/index.html"> <div class="logo">
          <img src="../../public/assets/book.svg" width="30" height="30" alt="">
          <h1>VERSEZ<span class="logo-dot">.</span></h1>
        </div> </a>
       
    
        <div class="search-links">
    
          <div class="search-container">
            <input type="text" class="search-input" placeholder="Search your books">
            <img src="../../public/assets/search.svg" width="15" height="15" alt="" class="search-icon">
          </div>
    
          <div class="shop-user-cart">
    
          
          <a href="../shop/shop.html">
            <div class="shop-now">
              <img  src="../../public/assets/shop.svg" width="20" alt="">
              <p>Shop Now</p>
            </div>
          </a>
    
          <p><img class="user-icon" src="../../public/assets/user.svg" alt=""></p>
    <div class="dropdown-menu" id="dropdownMenu">
      <img class="up-arrow" src="../../public/assets/up-arrow.svg" alt="">
      <button id="loginBtn">Login</button>
      <button id="registerBtn">Create An Account</button>
    </div>
    
    
          <div class="cart-notifications">
            <a href="../checkout/checkout.html"><img src="../../public/assets/empty-cart.svg" width="25" height="25" alt=""></a>
            <span class="notifications"></span>
          </div>
        </div>
          
        </div>
    
    
    
      </header> -->
      
        
        <main>


    <section id="shop">
      
        <div class="logo">
          <h1>VERSEZ<span class="logo-dot">.</span></h1>
        </div>
   
        <h2>Shop</h2>
  

<div class="all-shop-books">






</div>


    </section>


        </main>
    </div>















    <div class="floating-dock">
      <a href="../../view/home/index.html"><img class="dock-home-icon" src="../../public/assets/dock/home.svg" alt=""></a>
      <a href="../../view/shop/shop.html"><img class="dock-shop-icon" src="../../public/assets/dock/shop.svg" alt=""></a>
      <a href="../../view/checkout/checkout.html"><img class="dock-cart-icon" src="../../public/assets/dock/empty-cart.svg" alt=""></a>
    </div>


    <script src="../../controller/shop.js"></script>
</body>
</html>