<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Book Store Made JUST FOR FUN">
    <link rel="icon" type="image/svg+xml" href="../../public/assets/book.svg">
    <link rel="stylesheet" href="thankyou.css" />
    <link rel="stylesheet" href="../../style/global.css" />
    <title>Versez - Thank You</title>
</head>
<body>



    <section id="thank-you">

        <img class="check-icon" src="../../public/assets/check.svg" alt="">

        <div class="thank-content">
            <p >Thank you for shopping!</p>
            <p>Your order has been placed successfully</p>
            <p>For any issues please contact us via email</p>
            <p>00000@00000.000</p>
            <p><a href="../shop/shop.html">Continue shopping</a></p>
           </div>



    </section>
    <div class="floating-dock">
        <a href="../../view/home/index.html"><img class="dock-home-icon" src="../../public/assets/dock/home.svg" alt=""></a>
        <a href="../../view/shop/shop.html"><img class="dock-shop-icon" src="../../public/assets/dock/shop.svg" alt=""></a>
        <a href="../../view/checkout/checkout.html"><img class="dock-cart-icon" src="../../public/assets/dock/empty-cart.svg" alt=""></a>
      </div>
</body>
</html>