<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Book Store Made JUST FOR FUN">
    <link rel="icon" type="image/svg+xml" href="../../public/assets/book.svg">
    <link rel="stylesheet" href="checkout.css" />
    <link rel="stylesheet" href="../../style/global.css" />
    <title>Versez - Cart</title>
</head>
<body>



    <section id="checkout">

    <div class="logo-checkout">
      
      <div class="logo">
        
        <h1>VERSEZ<span class="logo-dot">.</span></h1>
      </div>
 
      <h2 class="checkout-word">CHECKOUT</h2>
    </div>


    <div class="empty-cart-message" >
      <img src="../../public/assets/shop.svg" alt="">
      <p>Your cart is empty</p>
      <p>Looks like you have not added anything in your cart.<br>Go ahead and explore products.</p>
      <a href="../shop/shop.html"><button>Continue Shopping</button></a>
  </div>

    <div class="cart-item-summary">


    <div class="cart-items">
      <h3>Cart Items</h3>

    </div>

<div class="summary">
<div class="summary-details">

<div class="subtotal">
  <h3>SUBTOTAL</h3>
  <div class="total-amount">
    <img class="banknote-icon" src="../../public/assets/banknote.svg" alt="">
    <p></p>
  </div>
</div>


<p>The subtotal reflects the total price of your order. including duties and taxes. before any applicable discounts. It does not include delivery costs and international transaction fees</p>

</div>


<div class="summary-btns">
<button class="clear-btn">CLEAR</button>
<button class="checkout-btn"><a href="../thankyou/thankyou.html">CHECKOUT</a></button>
</div>

</div>

  </div>


  </section>












  <div class="floating-dock">
    <a href="../../view/home/index.html"><img class="dock-home-icon" src="../../public/assets/dock/home.svg" alt=""></a>
    <a href="../../view/shop/shop.html"><img class="dock-shop-icon" src="../../public/assets/dock/shop.svg" alt=""></a>
    <a href="../../view/checkout/checkout.html"><img class="dock-cart-icon" src="../../public/assets/dock/empty-cart.svg" alt=""></a>
  </div>
  
    <script src="../../controller/cart.js"></script>
</body>
</html>