<!DOCTYPE html>
<html lang="en">



  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <link rel="stylesheet" href="../../style/global.css" />
    
    <title>Versez - Book Store</title>
  </head>


  <body>


<div class="container">


  <aside>
    <h2>asfasfasf</h2>
      </aside>
    

<div class="header-main">


  <header>
    <div class="logo">
      <img src="../../public/assets/book.svg" width="30" height="30" alt="">
      <h1>VERSEZ<span class="logo-dot">.</span></h1>
    </div>

    <div class="search-links">
      <div class="search-container">
        <input type="text" class="search-input" placeholder="Search your books">
        <img src="../../public/assets/search.svg" width="15" height="15" alt="" class="search-icon">
      </div>

      <p><a href="">About Us</a></p>
      <p><a href="">Credits</a></p>
      <img src="../../public/assets/empty-cart.svg" width="25" height="25" alt="">
    </div>



  </header>

  
  <main>



    <section id="trending">
      <h2>Trending on versez</h2>

<div id="cards"> 

      <div id="card-1" class="full-book-card">
  
    <div class="blur-card">
      
      <img class="blur-img" src="../../public/imgs/b2.jpg" alt="">

    </div>
    <div class="trending-book-card">
      <img class="main-book-img" src="../../public/imgs/b2.jpg"  alt="">
      <div class="book-text">
      <h3 class="black-book-text">Harry Potter And The Sorcerer's Stone</h3>
      <p class="black-book-text">193 Page · 13 Chapters</p>
    </div>
      </div>
</div>


<div id="card-2" class="full-book-card">
  
  <div class="blur-card">
    
    <img class="blur-img" src="../../public/imgs/b3.jpg" alt="">

  </div>
  <div class="trending-book-card">
    <img class="main-book-img" src="../../public/imgs/b3.jpg"   alt="">
    <div class="book-text">
      <h3 class="">Harry Potter And The Sorcerer's Stone</h3>
      <p class="">193 Page · 13 Chapters</p>
    </div>
      </div>
</div>

<div id="card-3" class="full-book-card">
  
  <div class="blur-card">
    
    <img class="blur-img" src="../../public/imgs/b4.jpg" alt="">

  </div>
  <div class="trending-book-card">
    <img class="main-book-img" src="../../public/imgs/b4.jpg"   alt="">
    <div class="book-text">
      <h3 class="">Harry Potter And The Sorcerer's Stone</h3>
      <p class="">193 Page · 13 Chapters</p>
    </div>
      </div>
</div>


</div>

    </section>








    <section id="release">
      <h2>New Release</h2>
      <div id="all-released-books">
        <div id="released-book">
          <img class="released-img" src="../../public/imgs/b5.jpg" alt="">
          <h3>The Glass Hotel</h3>
          <p>Emily St. John</p>
          <span></span>
        </div>

        <div id="released-book">
          <img class="released-img" src="../../public/imgs/b6.jpg" alt="">
          <h3>The Glass Hotel</h3>
          <p>Emily St. John</p>
        </div>

        <div id="released-book">
          <img class="released-img" src="../../public/imgs/b7.jpg" alt="">
          <h3>The Glass Hotel</h3>
          <p>Emily St. John</p>
        </div>

        <div id="released-book">
          <img class="released-img" src="../../public/imgs/b8.jpg" alt="">
          <h3>The Glass Hotel</h3>
          <p>Emily St. John</p>
        </div>

        <div id="released-book">
          <img class="released-img" src="../../public/imgs/b9.jpg" alt="">
          <h3>The Glass Hotel</h3>
          <p>Emily St. John</p>
        </div>
      </div>
    



    </section>






  </main>


</div>



</div>









  </body>
  
</html>
