<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Book Store Made JUST FOR FUN">
    <link rel="icon" type="image/svg+xml" href="../../public/assets/book.svg">
    
    <link rel="stylesheet" href="search.css" />
    <link rel="stylesheet" href="../../style/global.css" />
    <title>Versez - Search Results</title>
</head>
<body>
    <section id="search-results">
        <div class="result-container">
            <h2>Search Result</h2>
            <div id="results-container"></div>
        </div>
    </section>



    <div class="floating-dock">
        <a href="../../view/home/index.html"><img class="dock-home-icon" src="../../public/assets/dock/home.svg" alt=""></a>
        <a href="../../view/shop/shop.html"><img class="dock-shop-icon" src="../../public/assets/dock/shop.svg" alt=""></a>
        <a href="../../view/checkout/checkout.html"><img class="dock-cart-icon" src="../../public/assets/dock/empty-cart.svg" alt=""></a>
      </div>
      
    <script src="../../controller/search.js"></script>
</body>
</html>
