<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Book Store Made JUST FOR FUN">
    <link rel="icon" type="image/svg+xml" href="../../public/assets/book.svg">

    <link rel="stylesheet" href="credits.css" />
    <link rel="stylesheet" href="../../style/global.css" />
    <link rel="stylesheet" href="../../style/media-query.css" />
    <title>Versez - Credits</title>
</head>
<body>

    <section id="credits">


        <div id="versez-iti-credits">
            <div class="credits-logo">
                <h6 class="versez-logo-credits">VERSEZ<span class="logo-dot">.</span></h6>
                <p>X</p>
                <img class="iti-icon-credits" src="../../public/assets/iti.svg" alt="">
            </div>

            <p class="credits-description">IS A BOOK STORE MADE <span class="hero-fun">JUST FOR FUN</span></p>
          </div>


          <div class="techs">
              <p>BUILT WITH</p>
              <img class="tech-icon" src="../../public/assets/credits/html.svg" alt="">
              <img class="tech-icon" src="../../public/assets/credits/css.svg" alt="">
              <img class="tech-icon" src="../../public/assets/credits/js.svg" alt="">
          </div>
          <div class="arch">
            <p>ARCHITECTURE</p>
            <p>MODEL-VIEW-CONTROLER <span class="mvc">(MVC)</span></p>
        </div>
        <div class="branding">
            <p>BRANDING & IDENTITY</p>
            <div class="colors">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>

        <div class="github">
            <p>FULL PROJECT ON GITHUB</p>
            <a href="https://github.com/cxdechef/versez">
            <div class="github-icons">
                <img src="../../public/assets/credits/github-char.svg" alt="">
                <img src="../../public/assets/credits/github.svg" alt="">
                
            </div>    
        </a>
        </div>
  <div class="behance">
            <p>FULL PROJECT ON BEHANCE</p>
                <div class="behance-icons">
                    <a href="https://www.behance.net/gallery/94194295/Amazon-Kindle-Refreshed-Look">
                        <img class="behance-icon" src="../../public/assets/credits/behance.svg" alt="">
                    </a>
                    <a href="https://www.behance.net/gallery/198940151/Figma-to-HTML-Online-E-Book-Store-Design">
                        <img class="behance-icon" src="../../public/assets/credits/behance.svg" alt="">
                    </a>
                    
                </div>

        </div>

        <footer id="credits-footer" class="footer-container">
              <p> <span class="copyright-word">Copyright &copy;</span> 2024. All Rights Reserved.</p>
              <p>Made With <span class="heart">&hearts;</span> For Information Technology Institute</p>
          </footer>
    </section>
  
   
    
    <div class="floating-dock">
        <a href="../../view/home/index.html"><img class="dock-home-icon" src="../../public/assets/dock/home.svg" alt=""></a>
        <a href="../../view/shop/shop.html"><img class="dock-shop-icon" src="../../public/assets/dock/shop.svg" alt=""></a>
        <a href="../../view/checkout/checkout.html"><img class="dock-cart-icon" src="../../public/assets/dock/empty-cart.svg" alt=""></a>
      </div>
</body>
</html>