<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Book Store Made JUST FOR FUN">
    <link rel="icon" type="image/svg+xml" href="../../public/assets/book.svg">

    <link rel="stylesheet" href="credits.css" />
    <link rel="stylesheet" href="../../style/global.css" />
    <link rel="stylesheet" href="../../style/media-query.css" />
    <title>Versez - Credits</title>
</head>
<body>

    <section id="credits">

        <div id="versez-iti-credits">
            <h6 class="versez-logo-credits">VERSEZ<span class="logo-dot">.</span></h6>
            <p>X</p>
            <img class="iti-icon-credits" src="../../public/assets/iti.svg" alt="">
          </div>


          <p>IS A BOOK STORE MADE <span>JUST FOR FUN</span></p>
          <div class="techs">
              <p>BUILT WITH</p>
          </div>
          <p>TEAM MEMBERS</p>
          <p>TRACK SUPERVISOR</p>
          <p>SOFTWARE DEVELOPMENT - BENI SUEF BRANCH</p>
          <p>FULL PROJECT ON GITHUB</p>
          <p>ARCHITECTURE</p>
          <p>BRANDING AND IDENTITY</p>
          <p>FONTS</p>
          <p>CASE STUDY</p>


    </section>
    
</body>
</html>